<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add 
        id="OmniPro_Prueba::blogs" 
        title="OMNI.PRO Blogs" 
        module="OmniPro_Prueba" 
        sortOrder="10" 
        parent="Magento_Backend::marketing" 
        resource="OmniPro_Prueba::blogs"/>
        <add 
        id="OmniPro_Prueba::bloglist" 
        title="Blogs" 
        module="OmniPro_Prueba" 
        sortOrder="10" 
        parent="OmniPro_Prueba::blogs" 
        resource="OmniPro_Prueba::list" 
        action="blogsadmin/blog/index"/>
    </menu> 
</config>